* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #a5a2a1;
}
a:hover {
  text-decoration: none;
  color: #ff6600;
}
h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
li {
  list-style: none;
}
#mybody p {
  color: #a5a2a1;
}
.dark p {
  font-size: 18px;
  line-height: 26px;
  color: #c2d0da;
  font-weight: 400;
}
.dark a {
  font-size: 16px;
  line-height: 26px;
  color: #a5a2a1;
}
.title h6 {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: #232121;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.btn-white {
  background: rgb(0 0 0 / 0%);
  border: 2px solid #fff;
  color: #fff;
}
.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 8px;
  border: 2px solid #00000000;
}
.btn-primary {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff6600;
  border-color: #ff6600;
  opacity: 0.8;
}
/***************************************** BANNER  *************************/
.banner {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(/img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  position: initial;
  background-attachment: fixed;
}

.header .logo a {
  font-size: 38px;
  color: white;
}

h1 a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

h1 a:hover {
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}

.menu_right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

form {
  position: relative;
}

.dark .search_input {
  background-color: #232121;
}

.search_input {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: var(--font-color);
  border: none;
  font-weight: 400;
  border-radius: 10px;
  position: relative;
  right: 0;
  background: white;
  outline: 0;
  border: 1px solid none;
}

.dark .menu_right span {
  color: white;
  cursor: pointer;
}
.mobile_nav_button,
.menu_center i {
  font-size: 30px;
  color: white;
}

.menu_center i {
  font-size: 28px;
}

#myBody {
  background-color: white;
}
#switchButton {
  color: white;
}
#switchButton .fa-sun {
  display: block;
}
#switchButton .fa-moon {
  display: none;
}

.dark#myBody {
  background-color: #232220;
}
.dark #switchButton {
  color: black;
}
.dark #switchButton .fa-sun {
  display: none;
  color: white;
}

.dark #switchButton .fa-moon {
  display: block;
}
.dark .card {
  background-color: black;
  color: white;
}
.btn-white {
  display: inline-block;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 8px;
}

.banner_content {
  max-width: 580px;
  text-align: left;
  margin-top: 100px;
}

.dark .banner_content a{
  color: white;
}

.dark .banner_content .btn-white:hover a{
  color: #ff6600 !important;
}

.banner_content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.banner_content p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  padding: 30px 0px;
}

.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: orangered !important;
  text-decoration: none;
}


/* .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 50px 20px;
} */

.content_left,
.content_right {
  width: 50%;
}

.header_title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
  margin-bottom: 0;
}

.header_title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.dark .header_title h3 {
  color: #eee;
}

.content_right p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgb(152, 143, 143);
  font-family: "Quicksand", sans-serif;
}

.dark .content_right p {
  color: #c2d0da;
}
/*****************************About Us More************************  */
.abMore {
  background-color: #ff6600;
}
.abMore__bg {
  background: url(/img/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}

.abMore__bg::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.abMore__title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #eee;
  display: block;
  font-family: "Pacifico", cursive;
}

.abMore__title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.abMore__title p:last-of-type {
  color: #ffdfc9;
}

.abMore__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.aboutMore__item .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: #8273fc0d;
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  background-color: #eee;
  color: #ff6600;
}

.aboutMore__item .icon span.fa {
  font-size: 25px;
  line-height: 70px;
  transition: all 0.5s;
}

.aboutMore__item a {
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}

.aboutMore__item:hover span {
  color: #ffc600;
}

/*****************************WHAT NEW************************  */
.whatNew {
  background-color: #f7f7f7;
}

.dark .whatNew {
  background-color: #282828;
}

.whatNew__item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.whatNew__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(15px);
}

.whatNew__item img {
  width: 100%;
}

.whatNew__item .overlay {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.5s;
}

.whatNew__item .overlay:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.whatNew__item .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  padding-left: 35px;
  z-index: 12;
}

.whatNew__item p {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.whatNew__item p:last-child {
  font-weight: 600;
  color: #ffc600;
  font-size: 18px;
  letter-spacing: 1px;
}

/* post */
#blog{
  background-color: #f7f7f7;
}
.blog__posts h6{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: 'Pacifico', cursive;
}
.blog__posts h3{
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.blog__posts{
  padding-bottom: 30px;
}
.card__img{
  position: relative;
}
.card{
  border: none;
}
.card__img a{
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-decoration: none;
  color: #ff6600;
  font-size: 18px;
  font-weight: 100;
}
.card__img a:hover{
  color:blue;
}
.card__img img{
  border-radius: 5px;
}
.card-body .card-title a{
  font-weight: 600;
  font-size: 24px;
  color: #232121;
  text-decoration: none;
}
.card-body{
  background-color: #f7f7f7;
  padding: 0;
}
.card__bottom{
display: grid;
grid-auto-flow: column;
justify-content: space-between;
align-items: center;

}
.card__bottom img{
  border-radius: 50%;
}
.card__bottom p.card-text{
  margin-bottom: 0;

}
.card-title{
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: black;
  margin-bottom: 25px;
  margin-top: 25px;
}
.card__bottom a{
  text-decoration: none;
  color:#232121;
  font-weight: 700;
  transition: all 0.5s;
  font-size: 16px;
  padding-left: 15px;
}

.card__bottom  a.read:hover{
  color: #ff6600;
  
}
.card__bottom p.card-text{
  display: flex;
}
/* comment */
.comment{
  text-align: center;
}
.comment__cus a img{
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.owl-carousel .owl-item img
{
  width: auto;
}
.item span{
  font-size: 22px;
  color: #ff6600;
  display: block;
} 
.comment q{
  font-size: 24px;
  line-height: 36px;
  color: #232121;
  font-weight: 600;
  font-style: italic;
}
.comment p{
  font-size: 18px;
  line-height: 28px;
  color: rgba(22,28,45,0.7);
  box-sizing: inherit;
}
.comment__footer{
  margin-top: 24px;
}
.comment__customer h3{
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.comment__customer p{
  padding: 16px;
  font-size: 20px;
  font-weight: 400;
}

.owl-theme .owl-dots .owl-dot.active span{
  background-color: #ff6600;
}
.owl-theme .owl-dots .owl-dot:hover span{
  background-color: #ff6600;
}
.owl-theme .owl-dots .owl-dot:focus
{
  outline: none;
}
/* footer */
footer{
  color: white;
  padding: 50px 0;
  background-color: black;
  padding-bottom:100px;
  padding-top: 3rem; 
  position: relative;
}
.footer__main{
  width: 85%;
  margin: 0 auto;
  display: flex;
 
}
.footer__last{
  position: absolute;
  bottom: 5px;
  left: 120px;
}
.footer__item{

  padding: 0 20px;
}
.footer__item h6{
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;

}
.footer_1{
  width: 100% ;
 padding-right: 3rem;
 padding-bottom: 40px;
}
.footer__item p{
  margin-bottom: 1.2rem;
  color: rgb(176, 177, 179);
  font-size: 17px;
  
}
.footer__item h2 , h6{
  color: white;
  font-family: sans-serif;
  font-weight: 300;
}
.footer__social i{
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: white;
  color: #ff6600;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  transition: all .5s;
  cursor: pointer;
}
.footer__social i:hover{
  background-color: #ff6600;
  color: white;
}

.footer__item ul li{
  list-style: none;
  color: rgb(176, 177, 179);
  cursor: pointer;
  margin-bottom: 10px;
}
.footer__item ul li:hover{
  color: #ff6600;
}
.footer_2 {
  width: 20%;
}
.footer__3{
  width: 15%;
}
.footer_3 form input{
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgb(176, 177, 179);
  background-color: white;
  border-radius: 5px;
}
.footer_3 form .btn{
  background-color: #ff6600;
  color: white;

  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.5s;
}
.footer_3 form .btn:hover{
  background-color: #ff6600;
  opacity: 0.8;
  border: 2px solid transparent;
}
.footer__last span{
  color: #ff6600;
  cursor: pointer;
  transition: all .5s;
}
.footer__last span:hover{
  color: #DDDDDD;
}
/* back TO Top */
.backToTop{
  visibility: hidden;
  opacity: 0;
}
.backToTop i{
  position: fixed;
  text-align: center;
  bottom: 55px;
  right: 20px;
  z-index: 1000;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #ff6600;
  padding: 0;
  line-height: 50px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}
.cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}